@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@200;400;500;600;700;800&family=Martel:wght@200;300;400;600;700;800;900&display=swap');
    
    :root {
        --md-source: #184588;
        /* primary */
        --md-ref-palette-primary0: #000000;
        --md-ref-palette-primary10: #001a41;
        --md-ref-palette-primary20: #002e68;
        --md-ref-palette-primary25: #00397d;
        --md-ref-palette-primary30: #0c458e;
        --md-ref-palette-primary35: #20519b;
        --md-ref-palette-primary40: #305da8;
        --md-ref-palette-primary50: #4c76c3;
        --md-ref-palette-primary60: #6790de;
        --md-ref-palette-primary70: #82abfb;
        --md-ref-palette-primary80: #acc7ff;
        --md-ref-palette-primary90: #d8e2ff;
        --md-ref-palette-primary95: #edf0ff;
        --md-ref-palette-primary98: #f9f9ff;
        --md-ref-palette-primary99: #fefbff;
        --md-ref-palette-primary100: #ffffff;
        /* secondary */
        --md-ref-palette-secondary0: #000000;
        --md-ref-palette-secondary10: #001f24;
        --md-ref-palette-secondary20: #00363d;
        --md-ref-palette-secondary25: #00424a;
        --md-ref-palette-secondary30: #004f58;
        --md-ref-palette-secondary35: #005b66;
        --md-ref-palette-secondary40: #006874;
        --md-ref-palette-secondary50: #008391;
        --md-ref-palette-secondary60: #00a0b0;
        --md-ref-palette-secondary70: #22bccf;
        --md-ref-palette-secondary80: #4fd8eb;
        --md-ref-palette-secondary90: #97f0ff;
        --md-ref-palette-secondary95: #d0f8ff;
        --md-ref-palette-secondary98: #edfcff;
        --md-ref-palette-secondary99: #f6feff;
        --md-ref-palette-secondary100: #ffffff;
        /* tertiary */
        --md-ref-palette-tertiary0: #000000;
        --md-ref-palette-tertiary10: #29132d;
        --md-ref-palette-tertiary20: #402843;
        --md-ref-palette-tertiary25: #4b334f;
        --md-ref-palette-tertiary30: #583e5b;
        --md-ref-palette-tertiary35: #644967;
        --md-ref-palette-tertiary40: #715574;
        --md-ref-palette-tertiary50: #8b6d8d;
        --md-ref-palette-tertiary60: #a687a8;
        --md-ref-palette-tertiary70: #c1a1c3;
        --md-ref-palette-tertiary80: #debcdf;
        --md-ref-palette-tertiary90: #fbd7fc;
        --md-ref-palette-tertiary95: #ffebfd;
        --md-ref-palette-tertiary98: #fff7fa;
        --md-ref-palette-tertiary99: #fffbff;
        --md-ref-palette-tertiary100: #ffffff;
        /* neutral */
        --md-ref-palette-neutral0: #000000;
        --md-ref-palette-neutral10: #1b1b1f;
        --md-ref-palette-neutral20: #2f3033;
        --md-ref-palette-neutral25: #3b3b3f;
        --md-ref-palette-neutral30: #46464a;
        --md-ref-palette-neutral35: #525256;
        --md-ref-palette-neutral40: #5e5e62;
        --md-ref-palette-neutral50: #77777a;
        --md-ref-palette-neutral60: #919094;
        --md-ref-palette-neutral70: #ababaf;
        --md-ref-palette-neutral80: #c7c6ca;
        --md-ref-palette-neutral90: #e3e2e6;
        --md-ref-palette-neutral95: #f2f0f4;
        --md-ref-palette-neutral98: #faf9fd;
        --md-ref-palette-neutral99: #fefbff;
        --md-ref-palette-neutral100: #ffffff;
        /* neutral-variant */
        --md-ref-palette-neutral-variant0: #000000;
        --md-ref-palette-neutral-variant10: #191c22;
        --md-ref-palette-neutral-variant20: #2d3038;
        --md-ref-palette-neutral-variant25: #393b43;
        --md-ref-palette-neutral-variant30: #44474f;
        --md-ref-palette-neutral-variant35: #50525a;
        --md-ref-palette-neutral-variant40: #5c5e66;
        --md-ref-palette-neutral-variant50: #74777f;
        --md-ref-palette-neutral-variant60: #8e9099;
        --md-ref-palette-neutral-variant70: #a9abb4;
        --md-ref-palette-neutral-variant80: #c4c6d0;
        --md-ref-palette-neutral-variant90: #e1e2ec;
        --md-ref-palette-neutral-variant95: #eff0fa;
        --md-ref-palette-neutral-variant98: #f9f9ff;
        --md-ref-palette-neutral-variant99: #fefbff;
        --md-ref-palette-neutral-variant100: #ffffff;
        /* error */
        --md-ref-palette-error0: #000000;
        --md-ref-palette-error10: #410002;
        --md-ref-palette-error20: #690005;
        --md-ref-palette-error25: #7e0007;
        --md-ref-palette-error30: #93000a;
        --md-ref-palette-error35: #a80710;
        --md-ref-palette-error40: #ba1a1a;
        --md-ref-palette-error50: #de3730;
        --md-ref-palette-error60: #ff5449;
        --md-ref-palette-error70: #ff897d;
        --md-ref-palette-error80: #ffb4ab;
        --md-ref-palette-error90: #ffdad6;
        --md-ref-palette-error95: #ffedea;
        --md-ref-palette-error98: #fff8f7;
        --md-ref-palette-error99: #fffbff;
        --md-ref-palette-error100: #ffffff;
        /* light */
        --md-sys-color-primary-light: #305da8;
        --md-sys-color-on-primary-light: #ffffff;
        --md-sys-color-primary-container-light: #d8e2ff;
        --md-sys-color-on-primary-container-light: #001a41;
        --md-sys-color-secondary-light: #006874;
        --md-sys-color-on-secondary-light: #ffffff;
        --md-sys-color-secondary-container-light: #97f0ff;
        --md-sys-color-on-secondary-container-light: #001f24;
        --md-sys-color-tertiary-light: #715574;
        --md-sys-color-on-tertiary-light: #ffffff;
        --md-sys-color-tertiary-container-light: #fbd7fc;
        --md-sys-color-on-tertiary-container-light: #29132d;
        --md-sys-color-error-light: #ba1a1a;
        --md-sys-color-error-container-light: #ffdad6;
        --md-sys-color-on-error-light: #ffffff;
        --md-sys-color-on-error-container-light: #410002;
        --md-sys-color-background-light: #fefbff;
        --md-sys-color-on-background-light: #1b1b1f;
        --md-sys-color-surface-light: #fefbff;
        --md-sys-color-on-surface-light: #1b1b1f;
        --md-sys-color-surface-variant-light: #e1e2ec;
        --md-sys-color-on-surface-variant-light: #44474f;
        --md-sys-color-outline-light: #74777f;
        --md-sys-color-inverse-on-surface-light: #f2f0f4;
        --md-sys-color-inverse-surface-light: #2f3033;
        --md-sys-color-inverse-primary-light: #acc7ff;
        --md-sys-color-shadow-light: #000000;
        --md-sys-color-surface-tint-light: #305da8;
        --md-sys-color-outline-variant-light: #c4c6d0;
        --md-sys-color-scrim-light: #000000;
        /* dark */
        --md-sys-color-primary-dark: #acc7ff;
        --md-sys-color-on-primary-dark: #002e68;
        --md-sys-color-primary-container-dark: #0c458e;
        --md-sys-color-on-primary-container-dark: #d8e2ff;
        --md-sys-color-secondary-dark: #4fd8eb;
        --md-sys-color-on-secondary-dark: #00363d;
        --md-sys-color-secondary-container-dark: #004f58;
        --md-sys-color-on-secondary-container-dark: #97f0ff;
        --md-sys-color-tertiary-dark: #debcdf;
        --md-sys-color-on-tertiary-dark: #402843;
        --md-sys-color-tertiary-container-dark: #583e5b;
        --md-sys-color-on-tertiary-container-dark: #fbd7fc;
        --md-sys-color-error-dark: #ffb4ab;
        --md-sys-color-error-container-dark: #93000a;
        --md-sys-color-on-error-dark: #690005;
        --md-sys-color-on-error-container-dark: #ffdad6;
        --md-sys-color-background-dark: #1b1b1f;
        --md-sys-color-on-background-dark: #e3e2e6;
        --md-sys-color-surface-dark: #1b1b1f;
        --md-sys-color-on-surface-dark: #e3e2e6;
        --md-sys-color-surface-variant-dark: #44474f;
        --md-sys-color-on-surface-variant-dark: #c4c6d0;
        --md-sys-color-outline-dark: #8e9099;
        --md-sys-color-inverse-on-surface-dark: #1b1b1f;
        --md-sys-color-inverse-surface-dark: #e3e2e6;
        --md-sys-color-inverse-primary-dark: #305da8;
        --md-sys-color-shadow-dark: #000000;
        --md-sys-color-surface-tint-dark: #acc7ff;
        --md-sys-color-outline-variant-dark: #44474f;
        --md-sys-color-scrim-dark: #000000;
    }

    :root {
        --md-sys-color-primary: var(--md-sys-color-primary-light);
        --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
        --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
        --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
        --md-sys-color-secondary: var(--md-sys-color-secondary-light);
        --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
        --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
        --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
        --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
        --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
        --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
        --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
        --md-sys-color-error: var(--md-sys-color-error-light);
        --md-sys-color-error-container: var(--md-sys-color-error-container-light);
        --md-sys-color-on-error: var(--md-sys-color-on-error-light);
        --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
        --md-sys-color-background: var(--md-sys-color-background-light);
        --md-sys-color-on-background: var(--md-sys-color-on-background-light);
        --md-sys-color-surface: var(--md-sys-color-surface-light);
        --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
        --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
        --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
        --md-sys-color-outline: var(--md-sys-color-outline-light);
        --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
        --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
        --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light);
        --md-sys-color-shadow: var(--md-sys-color-shadow-light);
        --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light);
        --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light);
        --md-sys-color-scrim: var(--md-sys-color-scrim-light);
    }

    .dark {
        --md-sys-color-primary: var(--md-sys-color-primary-dark);
        --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
        --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
        --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
        --md-sys-color-secondary: var(--md-sys-color-secondary-dark);
        --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
        --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
        --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
        --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
        --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
        --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
        --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
        --md-sys-color-error: var(--md-sys-color-error-dark);
        --md-sys-color-error-container: var(--md-sys-color-error-container-dark);
        --md-sys-color-on-error: var(--md-sys-color-on-error-dark);
        --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
        --md-sys-color-background: var(--md-sys-color-background-dark);
        --md-sys-color-on-background: var(--md-sys-color-on-background-dark);
        --md-sys-color-surface: var(--md-sys-color-surface-dark);
        --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
        --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
        --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
        --md-sys-color-outline: var(--md-sys-color-outline-dark);
        --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
        --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
        --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark);
        --md-sys-color-shadow: var(--md-sys-color-shadow-dark);
        --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark);
        --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark);
        --md-sys-color-scrim: var(--md-sys-color-scrim-dark);
       }
    .reader h1 {
        font-size: 2rem;
        font-weight: 700;
        color: var(--md-sys-color-primary);
        text-transform: capitalize;
        margin-top: 1.5rem;
    }

    .reader h2 {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--md-sys-color-primary);
        text-transform: capitalize;
        margin-top: 1rem;
    }

    .reader h3, h4, h5, h6 {
        font-size: 1rem;
        font-weight: 700;
        color: var(--md-sys-color-primary);
        text-transform: capitalize;
        margin-top: .5rem;
    }

    .reader img {
        margin: 1rem auto;
    }
}